/*
 * ========================================================
 * ========================================================
 * ========================================================
 * ========================================================
 *
 *                  CARD RELATED CSS
 *
 * ========================================================
 * ========================================================
 * ========================================================
 */

.red {
  color: red;
}

.card-topleft {
  position: relative;
  top: 0.2em;
  left: 0.75em;
}

.card-bottomright {
  position: relative;
  bottom: -2.5em;
  right: 0.6em;
  transform: rotate(180deg);
}

.card-corner-rank,
.card-corner-suit {
  width: 1em;
  text-align: center;
  transform: translate(-50%, 0);
}

.suitSize {
  font-size: 9px;
}
